<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhKxZc7j7_b6T6Fh_qc_ldXkib-8gRZR0</string>
	<key>GCM_SENDER_ID</key>
	<string>870726322830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAirdrop</string>
	<key>PROJECT_ID</key>
	<string>my-airdrop</string>
	<key>STORAGE_BUCKET</key>
	<string>my-airdrop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870726322830:ios:08623d1f522a5da44cd7df</string>
</dict>
</plist>